{% extends 'site/site-base.html.twig' %}

{% block content %}

<section>
        <div class="container">
            <div class="row">

                {{ render(controller('App\\Controller\\Site\\CategoryController::index')) }}

                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="{{ product.sitePresenter.imageUrl(app.request.baseUrl) }}" alt="" />
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">
                                <h2>{{ product.title }}</h2>
                                <span>
                                    <span>{{ product.sitePresenter.price }}</span>
                                    <a href="{{ path('basket_add', {'product': product.id}) }}" class="btn btn-default cart">
                                        <i class="fa fa-shopping-cart"></i>Add to cart
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="recommended_items">
                        <h2 class="title text-center">Similar Products</h2>
                        {% include 'site/partials/slider.html.twig' with {products: similarProducts} %}
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}