{% extends 'site/site-base.html.twig' %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">

                {{ render(controller('App\\Controller\\Site\\CategoryController::index')) }}

                <form>
                    <div class="col-sm-offset-3">
                        <div class="search_box pull-right">
                            <input type="search" value="{{ app.request.get('searchTerm') }}" name="searchTerm" placeholder="Search"/>
                        </div>
                    </div>
                    <div class="col-sm-offset-3">
                        <ul>
                            <li>
                            <div class="pull-left">
                                <select name="sortDirection" onchange="this.form.submit()">
                                    <option value="" disabled selected> Sort By</option>
                                    <option value="ASC" {{ app.request.get('sortDirection') == 'ASC' ? 'selected' : '' }}> Price: Low to High </option>
                                    <option value="DESC" {{ app.request.get('sortDirection') == 'DESC' ? 'selected' : '' }}> Price: High to Low </option>
                                </select>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <input type="hidden" value="{{ app.request.get('category') }}" name="category"/>
                </form>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <h2 class="title text-center">Products</h2>

                        {% for product in products %}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="{{ path('site_products_show', {'slug': product.slug}) }}">
                                                <img src="{{ product.sitePresenter.imageUrl(app.request.baseUrl) }}"/>
                                                <h2>{{ product.sitePresenter.price }}</h2>
                                                <p>{{ product.title }}</p>
                                            </a>
                                            {% if is_granted('ROLE_USER') %}
                                            <a href="{{ path('basket_add', {'product': product.id}) }}"
                                               class="btn btn-default add-to-cart">
                                                <i class="fa fa-shopping-cart"></i>Add to cart
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row col-lg-offset-6">
                <ul class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}