<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="ai-icon" href="{{ path('profile') }}" aria-expanded="false">
                    <span class="nav-text">Profile</span>
                </a>
            </li>
            <li>
                <a class="ai-icon" href="{{ path('site_profile_order') }}" aria-expanded="false">
                    <span class="nav-text">Orders</span>
                </a>
            </li>
        </ul>
    </div>
</div>