<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} Shop | E-Shopper {% endblock %}</title>

    {% block stylesheets %}
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="/assets/css/prettyPhoto.css" rel="stylesheet">
        <link href="/assets/css/price-range.css" rel="stylesheet">
        <link href="/assets/css/animate.css" rel="stylesheet">
        <link href="/assets/css/main.css" rel="stylesheet">
        <link href="/assets/css/responsive.css" rel="stylesheet">
        <script src="/assets/js/html5shiv.js"></script>
        <script src="/assets/js/respond.min.js"></script>
        <link rel="shortcut icon" href="assets/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/images/ico/apple-touch-icon-57-precomposed.png">
    {% endblock %}

</head>

<body>

    {% include "site/partials/header.html.twig" %}

    {% for message in app.flashes('error') %}
        <div class="row alert alert-danger">
            <div class="col-lg-offset-6">{{ message }}</div>
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="row alert alert-success">
            <div class="col-lg-offset-6">{{ message }}</div>
        </div>
    {% endfor %}

    {% block content %}{% endblock %}

    {% include "site/partials/footer.html.twig" %}

    {% block javascripts %}
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/price-range.js"></script>
        <script src="/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.prettyPhoto.js"></script>
        <script src="/assets/js/main.js"></script>
    {% endblock %}

</body>

</html>