<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Eatio - Restaurant Food Order Bootstrap Admin Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/panel/images/favicon.png">
    <link href="/assets/panel/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/assets/panel/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/assets/panel/css/style.css" rel="stylesheet">
</head>

<body>

<!--*******************
        Preloader start
    ********************-->
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--*******************
        Preloader end
    ********************-->


<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">

    {% include "user-panel/partial/header.html.twig" %}

    {% include "user-panel/partial/sidebar.html.twig" %}

    {% for message in app.flashes('error') %}
        <div class="row alert alert-danger">
            <div class="col-lg-offset-6">{{ message }}</div>
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="row alert alert-success">
            <div class="col-lg-offset-6">{{ message }}</div>
        </div>
    {% endfor %}

    {% block content %}{% endblock %}

</div>

{% block javascripts %}
    <script src="/assets/panel/vendor/global/global.min.js"></script>
    <script src="/assets/panel/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/assets/panel/js/custom.min.js"></script>
    <script src="/assets/panel/js/deznav-init.js"></script>
    <script src="/assets/panel/js/plugins-init/datatables.init.js"></script>
    <script src="/assets/panel/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/panel/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/panel/vendor/apexchart/apexchart.js"></script>
{% endblock %}

</body>
</html>