{% extends 'site/site-base.html.twig' %}

{% block content %}

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Check out</li>
                </ol>
            </div>

            <div class="review-payment">
                <h2>Review & Payment</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in basketProducts %}
                        <tr>
                            <td class="cart_product">
                                <a href="">
                                    <img src="{{ product.sitePresenter.imageUrl(app.request.baseUrl) }}"
                                         width="110"
                                         height="110"
                                    >
                                </a>
                            </td>
                            <td class="cart_description">
                                <h4>{{ product.title }}</h4>
                            </td>
                            <td class="cart_price">
                                <p>{{ product.sitePresenter.price }}</p>
                            </td>
                            <td class="cart_price">
                                <p>{{ product.quantity }}</p>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">{{ product.price * product.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Cart Sub Total</td>
                                    <td>$ {{ subTotal }}</td>
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Shipping Cost</td>
                                    <td>$ 5</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td><span>$ {{ subTotal + 5 }}</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="step-one">
                        <h2 class="heading">User Information</h2>
                    </div>
                    <div class="checkout-options">
                <h5>Name</h5>
                <p>{{ app.user.name }}</p>

                <h5>Email</h5>
                <p>{{ app.user.email }}</p>

                <h5>Address</h5>
                <p>{{ app.user.address }}</p>

                <h5>Postal code</h5>
                <p>{{ app.user.postalCode }}</p>
            </div><!--/checkout-options-->
                </div>
                <div class="col-sm-6">
                    <div class="step-one">
                        <h2 class="heading">Payment Method</h2>
                    </div>
                    <div class="checkout-options">

                    <form method="post" class="form-inline" action="{{ path('checkout') }}">
                        <p><label><input type="radio" name="paymentMethod" value="ONLINE"> Online</label></p>
                        <p><label><input type="radio" name="paymentMethod" value="COD"> Cash On Delivery</label></p>
                        <button class="btn btn-default update" type="submit">Pay</button>
                    </form>

                </div>
                </div>
            </div>

            <br><br><br>
        </div>
    </section>

{% endblock %}