{% extends 'site/site-base.html.twig' %}

{% block content %}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                    {% for product in basketProducts %}
                        <tr>
                            <td class="cart_product">
                                <a href="">
                                    <img src="{{ product.sitePresenter.imageUrl(app.request.baseUrl) }}"
                                         width="180"
                                         height="180"
                                    >
                                </a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">{{ product.title }}</a></h4>
                            </td>
                            <td class="cart_price">
                                <p>{{ product.sitePresenter.price }}</p>
                            </td>
                            <td class="cart_quantity">
                                <form method="post" class="form-inline" action="{{ path('basket_update_item', {'product': product.id}) }}">
                                    <select class="form-control input-sm" id="quantity" name="quantity">
                                        {% for i in range(1,5) %}
                                            {% set selected = '' %}
                                            {% if i == product.quantity %}
                                                {% set selected = 'selected' %}
                                            {% endif %}
                                            <option {{ selected }}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit">Update</button>
                                </form>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">{{ product.price * product.quantity }}</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="{{ path('basket_delete_item', {'product': product.id}) }}">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>$ {{ subTotal }}</span></li>
                        <li>Shipping Cost <span>$ 5</span></li>
                        <li>Total <span>$ {{ subTotal + 5 }}</span></li>
                    </ul>
                    <a class="btn btn-default update"
                            href="{{ path('checkout_form') }}">
                        Continue
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->

{% endblock %}