<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian">

            {% for category in categories %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="{{ path('site_products', {'category': category.slug}) }}">
                                {{ category.title }}
                            </a>
                        </h4>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>