<header id="header"><!--header-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 clearfix">
                </div>
                <div class="col-md-8 clearfix">
                    <div class="shop-menu clearfix pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('basket_index') }}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('profile') }}"><i class="fa fa-user"></i> Account</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') == false %}
                            <li><a href="{{ path('app_login') }}"><i class="fa fa-lock"></i> Sign in</a></li>
                            <li><a href="{{ path('app_register') }}"><i class="fa fa-rocket"></i> Sign up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{{ path('home_index') }}" class="active">Home</a></li>
                            <li><a href="{{ path('site_products') }}" class="active">Products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->