<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <a href="{{ path('site_products_show', {'slug': product.slug}) }}">
                    <img src="{{ product.sitePresenter.imageUrl(app.request.baseUrl) }}"/>
                    <h4>{{ product.sitePresenter.price }}</h4>
                    <p>{{ product.title }}</p>
                </a>
            </div>
        </div>
    </div>
</div>