
    <div class="carousel-inner">

        <div class="item active">
            {% for product in products|slice(1, 3) %}
                {% include "site/partials/product-card.html.twig" %}
            {% endfor %}
        </div>
        <div class="item">
            {% for product in products|slice(3, 3) %}
                {% include "site/partials/product-card.html.twig" %}
            {% endfor %}
        </div>
        <div class="item">
            {% for product in products|slice(6, 3) %}
                {% include "site/partials/product-card.html.twig" %}
            {% endfor %}
        </div>
    </div>

