{% extends 'site/site-base.html.twig' %}

{% block content %}

<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="login-form">
                    <h2>Login to your account</h2>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey }}</div>
                    {% endif %}

                    <form action="{{ path('app_login') }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="email" value="{{ last_username }}" name="email" required/>
                        <input type="password" placeholder="password" name="password" required/>
                        <span>
                            <input type="checkbox" class="checkbox" name="_remember_me">Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
