{% extends 'site/site-base.html.twig' %}

{% block content %}

<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="signup-form">
                    <h2>Signup!</h2>

                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-default">Signup</button>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
