{% extends 'user-panel/user-panel-base.html.twig' %}

{% block content %}

<div class="content-body" style="min-height: 1113px;">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Profile</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            {{ form_start(form) }}

                            {{ form_widget(form) }}

                            <button type="submit" class="btn btn-primary">Update</button>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}