{% extends 'user-panel/user-panel-base.html.twig' %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="table-responsive ">
                            <table class="table items-table">
                                <tbody>
                                <tr>
                                    <th class="my-0 text-black font-w500 fs-20">Item</th>
                                    <th style="width:10%;" class="my-0 text-black font-w500 fs-20">Quantity</th>
                                    <th style="width:10%;" class="my-0 text-black font-w500 fs-20">Price</th>
                                    <th class="my-0 text-black font-w500 fs-20">Total Price</th>
                                </tr>
                                {% for orderItem in orderItems %}
                                <tr>
                                    <td>
                                        <h4 class="my-0 text-secondary font-w600">{{ orderItem.product.title }}</h4>
                                    </td>
                                    <td>
                                        <h4 class="my-0 text-secondary font-w600">{{ orderItem.quantity }}x</h4>
                                    </td>
                                    <td>
                                        <h4 class="my-0 text-secondary font-w600">$ {{ orderItem.amount }}</h4>
                                    </td>
                                    <td>
                                        <h4 class="my-0 text-secondary font-w600">$ {{ orderItem.amount * orderItem.quantity }}</h4>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}