{% extends 'site/site-base.html.twig' %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">

                {{ render(controller('App\\Controller\\Site\\CategoryController::index')) }}

                <div class="col-sm-9 padding-right">
                    <div class="recommended_items">

                        <h2 class="title text-center">Most viewed Products</h2>
                        <div id="recommended-item-carousel1" class="carousel slide" data-ride="carousel">
                            {% include 'site/partials/slider.html.twig' with {products: mostViewedProducts} %}
                            <a class="left recommended-item-control" href="#recommended-item-carousel1" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel1" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                        <h2 class="title text-center">Latest Products</h2>
                        <div id="recommended-item-carousel2" class="carousel slide" data-ride="carousel">
                            {% include 'site/partials/slider.html.twig' with {products: latestProducts} %}
                            <a class="left recommended-item-control" href="#recommended-item-carousel2" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel2" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}